node_modules
**/node_modules
dist
**/dist
coverage
.nyc_output
*.tsbuildinfo

mysql-data
mysql-data_old*
mysql-data__old_*
backups
*.sql

.git
.vscode
.idea
.DS_Store

.env
.env.*
*.env

test
**/*.spec.ts
**/*.test.ts
